<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Página de Topografía{% endblock %}</title>
    {% load static %}  <!-- Cargar la etiqueta static -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <h1>Topografía Juan Beani</h1>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'add_author' %}">Añadir Autor</a></li>
                <li><a href="{% url 'search_author' %}">Buscar Autor</a></li>
                <li><a href="{% url 'saludo' %}">Saludo</a></li>
                <li><a href="{% url 'dia_de_hoy' %}">Día de Hoy</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Topografía Juan Beani. Todos los derechos reservados.</p>
    </footer>
</body>
</html>


